include *.txt
include benchmark/dcvgr10.txt.gz
include benchmark/reuters21578.txt.gz
include tests/english-words.10.gz
recursive-include tests *.py
recursive-include benchmark *.py
recursive-include docs *.txt *.py *.rst
recursive-include files *.png *.svg
